.top_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  height: 400px;
  width: 100%;
}

.candidate {
  border: 1px solid #55706D;
  background-color: rgba(82, 182, 172, 0.1);
  border-radius: 10px;

  flex: 1;
  height: 200px;
  padding: 5px;
  padding-bottom: 25px;
  padding-top: 25px;
  float:left;
  margin: 10px;
  text-align: center;
  cursor: pointer;

  transition: all 0.5s;
}

.candidate:hover {
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(82, 182, 172, 0.3);
}

.candidate .img_container {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin:auto;
  background: #eee no-repeat center;
  background-size: cover;
  cursor: pointer;
}

.candidate .img_container i {
  height: 100px;
  width: 100px;
  font-size: 20px;
  line-height: 100px;
}

.candidate .bio {
  font-size: 16px;
  height: 50px;
}

.candidate button {
  width: 80px;
  height: 30px;
  border: none;
  background-color: #52B6AC;
}

@media(max-width: 600px) {

  .candidate {
    height: 150px;
  }

  .candidate .img_container {
    width: 50px;
    height: 50px;
  }

  .candidate .img_container i {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .candidate button {
    width: 40px;
  }
}

.profile {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
}

.gif-container {
  height: 75%;
  background-color: black;
  flex: 1;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
}

.modal-header {
  height: 200px;
  margin: 0;
  color: black;
  overflow: visible;
  width: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.modal-body {
  margin: 0;
  background-color: white;
  flex: 1;
  padding: 50px;
  padding-top: 50px;
}

.modal-body h5 {
  font-size: 30px;
  position: relative;
  margin: 0;
  margin-top: 10px;
  line-height: 31px;
}

.modal-body h6 {
  font-size: 25px;
  position: relative;
  margin: 10px 0;
  line-height: 26px;
}

.modal-body ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.modal-profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  position: relative;
  top: 100%;
  transform: translateY(-50%);
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
}

.modal-profile-pic img {
  height: 100%;
}
